<!doctype html>
<head>
    <title>Text To Speech</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<html>
    <body>
        <main>
            <div class="px-4 py-3 my-2 text-center">
                <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/azure-icon.svg') }}" alt="Azure Logo" width="192" height="192"/>
                <h1 class="display-6 fw-bold text-primary">Text To Speech</h1>
            </div>
            <form id="usrform" method="post" action="{{url_for('txt_to_speech')}}">
                <div class="col-md-6 mx-auto text-center">
                    <label for="text" class="form-label fw-bold fs-5">Enter Text:</label>

                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                        <input id="rate" type="range" min="-100" max="200" value="0" step="1">速率</input>
                    </div>

                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-2">
                        <input id="pitch" type="range" min="-50" max="50" value="0" step="1">音调</input>
                    </div>

                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-3">
                        <textarea rows="50" cols="30" name="text" form="usrform">输入文案...</textarea>
                    </div>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-4">
                        <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Submit</button>
                    </div>
                </div>
            </form>
        </main>
    </body>
</html>
